<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{ title }}
  </h1>
</div>

<div>

  <ul>
    <form name="form1" style="text-align:center;" action="http://localhost:3000/ps4" method="get">
      <span>Input "name,MadTree Brewing" without quotation mark to acquire Madtree Brewing's type, name and street info from backend</span><br>
      <strong>Watch out, Capitals and No spaces!</strong><br>
    <input type="text" name="beer"><input (click)="displayData()" type="submit" value="Submit">
    </form>
    <p id="data_place" style="text-align:center;"></p>

  </ul>

</div>

